@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-width: 1100px;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -ms-interpolation-made: bicubic;
}

.sp-only {
  display: none;
}

main {
  display: block;
}

/*ヘッダー*/
#header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-inner .header-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 234px;
  padding: 0 20px;
  background-color: #fdd000;
}

#header-inner #global-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  font-weight: normal;
  font-size: 2.4rem;
}

#header-inner #global-nav li {
  padding: 0 20px;
}

#header-inner #global-nav li a {
  color: #333;
  width: 150px;
  position: relative;
  display: block;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#header-inner #global-nav li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 4px;
  background-color: #fdd000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header-inner #global-nav li a:hover:after {
  width: 100%;
}

.content-wrapper {
  width: 1100px;
  margin: 0 auto;
}

#mainvisual {
  position: relative;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
}

h1 {
  margin-bottom: 60px;
}

h2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid #fdd000;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
}

h2 + p {
  margin-bottom: 48px;
  color: #4a4a4a;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
}

#company-content {
  margin-bottom: 100px;
}

/*企業情報*/
.panel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.panel-list li {
  width: 330px;
  margin-right: 55px;
}

.panel-list li:last-of-type {
  margin-right: 0;
}

.panel-list li a {
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 2px 2px 4px #bcbcbc;
          box-shadow: 2px 2px 4px #bcbcbc;
}

.panel-list li a:hover {
  -webkit-transform: translate3d(0, 3px, 0);
  transform: translate3d(0, 3px, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-list li a .panel-list-img img {
  border-radius: 8px 8px 0 0;
}

.panel-list li a section {
  padding: 24px 18px 30px;
}

.panel-list li a section h3 {
  margin-bottom: 6px;
}

/*リード文*/
.lead {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.4rem;
}

.lead + p {
  margin-bottom: 50px;
}

/*ボタン*/
.btn {
  width: 430px;
  font-size: 2.4rem;
}

.btn a {
  padding: 20px 8px 20px 120px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*サービス*/
#service-content {
  padding: 110px 0 130px;
  background-color: #383b56;
  color: #fff;
}

#service-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#service-content section .left-area {
  width: 500px;
  position: relative;
}

#service-content section .right-area {
  width: 500px;
  position: relative;
}

#service-content section .right-area .img-panel-box01 {
  position: absolute;
  top: -130px;
  left: -75px;
}

#service-content section .right-area .img-panel-box02 {
  position: absolute;
  bottom: -150px;
  right: -30px;
}

#service-content section h2 + p {
  color: #fff;
}

#service-content section .btn a {
  border: 1px solid #fff;
  background: url("../images/btn_icon.png") no-repeat right 50px center #fff;
  color: #383b56;
}

#service-content section .btn a:hover {
  border: 1px solid #fff;
  background: url("../images/btn_icon02.png") no-repeat right 50px center #383b56;
  color: #fff;
}

/*代表メッセージ*/
#representative-content {
  margin-bottom: 60px;
  background-color: #e3e3e3;
}

#representative-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#representative-content section .left-area {
  width: 500px;
}

#representative-content section .left-area .img-panel-box03 {
  width: 500px;
}

#representative-content section .right-area {
  width: 500px;
  padding: 60px 0;
}

#representative-content section .btn a {
  border: 1px solid #383b56;
  background: url("../images/btn_icon02.png") no-repeat right 50px center #383b56;
  color: #fff;
}

#representative-content section .btn a:hover {
  border: 1px solid #383b56;
  background: url("../images/btn_icon.png") no-repeat right 50px center #fff;
  color: #383b56;
}

/*更新情報*/
#info-content {
  margin-bottom: 60px;
}

#info-content .info-list {
  width: 900px;
  margin: 0 auto 60px;
  border-top: 1px solid #e3e3e3;
}

#info-content .info-list .info-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0;
  border-bottom: 1px solid #e3e3e3;
}

#info-content .info-list .info-list-item dt {
  padding: 0 40px 0 20px;
}

#info-content .btn {
  margin: 0 auto;
}

#info-content .btn a {
  padding: 20px 8px 20px 90px;
  border: 1px solid #383b56;
  background: url("../images/btn_icon02.png") no-repeat right 50px center #383b56;
  color: #fff;
}

#info-content .btn a:hover {
  border: 1px solid #383b56;
  background: url("../images/btn_icon.png") no-repeat right 50px center #fff;
  color: #383b56;
}

/*お問い合わせ*/
#contact-content {
  background-color: #e3e3e3;
}

#contact-content .content-wrapper {
  padding: 60px 0;
}

#contact-content .content-wrapper p {
  text-align: center;
}

#contact-content .content-wrapper p.contact-text {
  width: 500px;
  margin: 0 auto 40px;
  text-align: left;
}

#contact-content .content-wrapper .btn {
  margin: 0 auto;
}

#contact-content .content-wrapper .btn a {
  padding: 20px 10px;
  border: 1px solid #383b56;
  background: url("../images/btn_icon02.png") no-repeat right 50px center #383b56;
  color: #fff;
}

#contact-content .content-wrapper .btn a:hover {
  border: 1px solid #383b56;
  background: url("../images/btn_icon.png") no-repeat right 50px center #fff;
  color: #383b56;
}

/*フッター*/
footer {
  padding: 40px 0 80px;
  background-color: #383b56;
  color: #fff;
}

footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

footer .footer-list li a {
  color: #fff;
}

footer .footer-list li .footer-child-list li {
  padding-bottom: 20px;
}

footer .footer-list > li {
  width: 130px;
}

@media screen and (max-width: 767px), print {
  html {
    min-width: auto;
    width: 100%;
  }
  body {
    line-height: 1.2;
    font-size: 1.4rem;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  /*ヘッダー*/
  #header-inner {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header-inner .header-logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    padding: 0;
    background-color: #fff;
  }
  #header-inner .header-logo-wrap #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 180px;
    padding: 0 20px;
    background-color: #fdd000;
  }
  #header-inner .header-logo-wrap .sp-global-nav {
    position: relative;
    width: 50px;
    height: 44px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #header-inner .header-logo-wrap .sp-global-nav span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #333;
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #header-inner .header-logo-wrap .sp-global-nav span:nth-of-type(1) {
    top: 0;
  }
  #header-inner .header-logo-wrap .sp-global-nav span:nth-of-type(2) {
    top: 20px;
  }
  #header-inner .header-logo-wrap .sp-global-nav span:nth-of-type(3) {
    bottom: 0;
  }
  #header-inner .header-logo-wrap .sp-global-nav.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  #header-inner .header-logo-wrap .sp-global-nav.active span:nth-of-type(2) {
    opacity: 0;
  }
  #header-inner .header-logo-wrap .sp-global-nav.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }
  #header-inner #global-nav {
    display: none;
    position: absolute;
    top: 64px;
    width: 100%;
    padding: 0;
    background-color: #fff;
    font-size: 1.4rem;
    z-index: 10;
  }
  #header-inner #global-nav li {
    padding: 0;
  }
  #header-inner #global-nav li a {
    color: #333;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #333;
  }
  .content-wrapper {
    width: 100%;
    padding: 0 15px;
  }
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 3px solid #fdd000;
    font-size: 3rem;
  }
  h2 + p {
    margin-bottom: 30px;
  }
  h3 {
    font-size: 2rem;
  }
  #company-content {
    margin-bottom: 80px;
  }
  /*企業情報*/
  .panel-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .panel-list li {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .panel-list li:last-of-type {
    margin-bottom: 0;
  }
  .panel-list li a {
    -webkit-box-shadow: 1px 1px 3px #bcbcbc;
            box-shadow: 1px 1px 3px #bcbcbc;
  }
  .panel-list li a .panel-list-img img {
    width: 100%;
  }
  .panel-list li a section {
    padding: 10px 15px 15px;
  }
  .panel-list li a section p {
    text-align: center;
  }
  /*リード文*/
  .lead {
    margin-bottom: 12px;
    font-size: 2rem;
    text-align: center;
  }
  .lead + p {
    margin-bottom: 30px;
    text-align: center;
  }
  /*ボタン*/
  .btn {
    width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
  }
  .btn a {
    padding: 10px 8px;
  }
  /*サービス*/
  #service-content {
    padding: 50px 0 70px;
  }
  #service-content section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #service-content section .left-area {
    width: 100%;
  }
  #service-content section .right-area {
    width: 100%;
  }
  #service-content section .right-area .img-panel-box01 {
    position: static;
    margin-bottom: 40px;
  }
  #service-content section .btn a {
    border: 1px solid #fff;
    background: url(../images/btn_icon.png) no-repeat right 20px center #fff;
    color: #383b56;
    background-size: 12px 14px;
  }
  /*代表メッセージ*/
  #representative-content {
    padding: 50px 0 70px;
  }
  #representative-content section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #representative-content section .left-area {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #representative-content section .left-area .img-panel-box03 {
    width: 100%;
    margin-bottom: 40px;
  }
  #representative-content section .right-area {
    width: 100%;
    padding: 0;
  }
  #representative-content section .btn a {
    border: 1px solid #383b56;
    background: url("../images/btn_icon02.png") no-repeat right 20px center #383b56;
    color: #fff;
    background-size: 12px 14px;
  }
  /*更新情報*/
  #info-content .info-list {
    width: 100%;
    margin: 0 auto 30px;
  }
  #info-content .info-list .info-list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 14px 10px;
    font-size: 1.6rem;
  }
  #info-content .info-list .info-list-item dt {
    padding: 0 0 6px 0;
  }
  #info-content .btn {
    margin: 0 auto;
  }
  #info-content .btn a {
    padding: 10px 8px;
    border: 1px solid #383b56;
    background: url("../images/btn_icon02.png") no-repeat right 20px center #383b56;
    color: #fff;
    background-size: 12px 14px;
  }
  /*お問い合わせ*/
  #contact-content {
    padding: 50px 0 70px;
  }
  #contact-content .content-wrapper {
    padding: 0 15px;
  }
  #contact-content .content-wrapper p.contact-text {
    width: 100%;
    margin: 0 auto 30px;
    text-align: center;
  }
  #contact-content .content-wrapper .btn a {
    padding: 10px 8px;
    border: 1px solid #383b56;
    background: url("../images/btn_icon02.png") no-repeat right 20px center #383b56;
    color: #fff;
    background-size: 12px 14px;
  }
  /*フッター*/
  footer .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  footer .footer-list li a {
    color: #fff;
  }
  footer .footer-list li .footer-child-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-list li .footer-child-list li {
    width: calc(50% - 10px / 2);
    margin-right: 10px;
    padding-bottom: 15px;
  }
  footer .footer-list li .footer-child-list li:nth-of-type(2n) {
    margin-right: 0;
  }
  footer .footer-list > li {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */